# Secret Environment Variables - CRITICAL
**/.env

# Python Virtual Environment
/venv/

# Node.js Dependencies
**/node_modules/

# Foundry Dependencies
/contracts/lib/

# Foundry Build & Cache Artifacts
/contracts/cache/
/contracts/out/
/contracts/broadcast/

# Generated Reports
**/*-report.txt

# VS Code Editor Folder
/.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Generated Reports
**/coverage/
**/*-report.txt